.white_button {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.white_button:hover {
  background-color: #000;
  color: white;
}
.white_button:disabled {
  opacity: 0.5;
  background-color: #fff;
  color: #000;
  cursor: auto;
}


.black_button {
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.black_button:hover {
  background-color: #fff;
  color: #000;
}
.black_button:disabled {
  opacity: 0.5;
  background-color: #000;
  color: #fff;
  cursor: auto;
}